@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize';

.title-page {
  text-align: center;
}

.thumbnail {
  height: 200px;
  width: auto;
}

.show-photo{
  margin-top: 40px;
  text-align: center;
  height: 300px;
  width: auto;
}

select {
  display: block !important;
  width: 100px;
}

input {
  margin-top: 30px;
  margin-bottom: 30px;
}
