@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize';

.title-page {
  text-align: center;
}

.thumbnail {
  height: 200px;
  width: auto;
}

.show-photo{
  margin-top: 40px;
  text-align: center;
  height: 300px;
  width: auto;
}
