<%= content_for :adminnavbar do %>
<li><%= link_to "Add Product", new_product_path %></li>
<% end %>
<h3>Products</h3>
<% if @products.any? %>
  <% @products.each do |product|%>
    <%= image_tag product.product_picture, :class => "thumbnail" %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
  <% else %>
    <h4>There are currently no products</h4>
<% end %>
